body {
    text-align: center;
}

#clue {
    font-family: monospace;
    font-size: 2em;
    padding: 1em;
}

#newgamearea {
    margin-top: 2em;
}

.game-status {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 4px;
    font-weight: bold;
}

.win {
    background-color: #006e04;
    color: #ffffff;
}

.lose {
    background-color: #ff0019;
    color: #ffffff;
}